
/* -----------------------------------1200------------------------------------ */
@media  (max-width: 1200px){
    .hero_area_card_one{
        height: 185px !important;
    }
    .hero_area_card_two{
        height: 185px !important;
    }
}
/* -----------------------------------992------------------------------------ */
@media  (max-width: 992px) {
    .social_links_group{
        position: relative !important;
    }
    .social_links_group{
        position: absolute;
        left: 0;
        top: 10px !important;
    }
    .end_bar_content{
        align-items: unset !important;
    }
    .search__group{
        width: 50% !important;
    } 
    .end_footer_row{
        margin-bottom: 1rem !important;
    }
    .middle_footer{
        text-align: center;
    }
    .middle_footer h3::before{
        right: 50%;
        transform: translateX(50%);
    }
    .middle_footer_cta:hover{
        padding-right: 0 !important;
        transform: scale(1.2);
    }
    .middle_footer_btn{
        margin: 0 auto;
    }
    .hero_area_card{
        margin: 10px auto;
    }
    .hero_area_card_one{
        max-width: 49%!important;
        height: 240px;
        margin-left: 13px;
        margin-bottom: 0 !important;
        padding:0 ;
    }
    .hero_area_card_two{
        max-width: 49%!important;
        height: 240px;
        padding:0 ;
    }
    .product_img a{
        text-align: center;
        display: block;
        width: 100% !important;
        font-size: 1rem !important;
    }
    .middle_footer h3::before{
        right: 50% !important;
        transform: translateX(50%) !important;
    }
    .special_offer_single_banner{
        margin-bottom: 2rem;
    }
    .about_us img{
        margin-bottom: 2rem;
    }
    .about_us_text{
        padding-right: 15px !important;
    }
    .login-section .card{
        width: 80% !important;
    }
    .register_form{
        width: 80% !important;
    }
}
/* -----------------------------------768------------------------------------ */ 
@media  (max-width: 768px){
    .website__logo{
        width: 100%;
    }
    .hero_area_card_one{
        max-width: 100% !important;
        height: 260px !important;
        margin-bottom: 10px !important;
    }
    .hero_area_card_two{
        max-width: 100% !important;
        height: 260px !important;
    }
    .hero_area_carousel h2{
        font-size: 1.2rem !important;
    }
    .hero_area_carousel h3{
        font-size: .8rem !important;
    }
    .hero_area_carousel p,
    .hero_area_carousel span{
        font-size: .5rem !important;
    }
    .hero_area_carousel p{
        padding: 10px 0 !important;
        margin: 0 !important;
    }
    .carousel-caption{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
    .hero_area_carousel_btn{
        background-color: #0167f3;
        color: #fff;
        border-radius: .25rem;
        font-size: .8rem !important;
        padding: 5px 10px !important;
        margin: 0!important;
    }
    .hero_area_carousel{
        overflow-x: hidden;
    }
    .hero_area_carousel img{
        opacity: .7;
    }
    .carousel-control-prev,
    .carousel-control-next{
        background-color: #0167f3;
        color: #fff;
        width: 30px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease-in;
    }
    .carousel-control-prev{
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        transform: translateX(40px);
    }
    .carousel-control-next{
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        transform: translateX(-40px);
    }
    .hero_area_carousel:hover .carousel-control-prev,
    .hero_area_carousel:hover .carousel-control-next{
        transform: translateX(0);
    }
    .single_banner-tow{
        margin-top: 2rem !important;
    }
    .product_img a{
        font-size: 1.5rem !important;
        transform: translateY(100px);
    }
    .product_img:hover a{
        transform: translateY(0);
    }
    .section_title{
        width: 100% !important;
    }
    .carousel-caption{
        right: 40px !important;
    }
    .about_us_text h3{
        font-size: 1.3rem;
    }
    .website_footer_logo{
        margin-bottom: 2rem;
        display: grid;
        place-content: center;
    }
    .contact_info{
        text-align: center;
    }
    .single_info_phone{
        text-align: center;
    }
    .form_btn button{
        width: 100%; 
        margin-right: 0;
    }
    .twitter_btn{
        margin: 1rem 0;
    }
}
/* -----------------------------------600------------------------------------ */
@media  (max-width: 600px) {
    .footer_input{
        border: none;
        border-radius: .25rem !important;
        padding: 1.6rem 1rem;
        width: 100%;
    }
    .footer_btn{
        min-width: 100%;
        margin: .5rem 0 0 0 !important;
        padding: .8rem 0 !important;
    }
    .carousel-caption{
        right: 20px !important;
    }
    .about_us_text h3{
        font-size: 1.1rem;
    }
    .login-section .card{
        width: 100% !important;
    }
    .register_form{
        width: 100% !important;
    }
}
/* -----------------------------------400------------------------------------ */
@media (max-width: 400px){
    .middle_bar__btn{
        font-size: .8rem !important;
        padding: 5px 10px;
    }
     .website__logo img{
        width: 30px;
    }
    .website__logo span{
        font-size: 1rem;
    }
    .product_img a{
        font-size: 1rem !important;
    }
    .section_title h2{
        font-size: 1.3rem;
    }
    .single_banner_content h2{
        font-size: 1.3rem;
    }
    .carousel-caption h2{
        font-size: 1rem !important;
        margin-bottom: 10px !important;
    }
    .carousel-caption p{
        display: none;
    }
    .carousel-caption h3{
        font-size: 1rem !important;
        margin-bottom: 10px !important;
    }
    .hero_area_carousel_btn{
        font-size: .5rem !important;
    }
    .hero_area_card_content h4{
        font-size: 1rem;
    }
    .hero_area_card_content h3{
        font-size: 1rem;
    }
    .hero_area_card_content h2{
        font-size: 1.5rem;
    }
    .hero_area_card_content a{
        font-size: .8rem;
    }
    .hero_area_card_content_center{
        right: 0 !important;
        width: 100%;
        text-align: center;
    }
    .special_offer_single_banner_contant h3{
        font-size: 1rem;
    }
    .special_offer_single_banner_contant p{
        display: none;
    }
    .time_box h1{
        font-size: 1rem !important;
    }
    .time_box h2{
        font-size: .8rem !important;
    }
    .social_links_group{
        display: none;
    }
    .breadcrumb-item{
        font-size: .8rem;
    }
    .page_title{
        font-size: .8rem;
    }
    .contact_form{
        padding: 40px 10px;
    }
    .login-section .card{
        padding: 10px;
    }
    .login-section .title{
        text-align: center;
    }
    .register_form{
        padding: 10px;
    }
    .register_form_title{
        text-align: center;
        margin-top: 1rem;
    }
    .register_form_title h3{
        font-size: 1.3rem;
    }
}